In [29]:
import pandas as pd

In [30]:
allMatchData = pd.read_csv("allMatchData.csv", encoding="utf-8", index_col=0) 
allMatchData['matchdate'] = pd.to_datetime(allMatchData['matchdata'])

In [31]:
allMatchData.head()

,matchdata,matchid,team_0_s_accurate_back_zone_pass,team_0_s_accurate_chipped_pass,team_0_s_accurate_corners_intobox,team_0_s_accurate_cross,team_0_s_accurate_cross_nocorner,team_0_s_accurate_flick_on,team_0_s_accurate_freekick_cross,team_0_s_accurate_fwd_zone_pass,...,team_1_s_total_yel_card,team_1_s_touches,team_1_s_touches_in_opp_box,team_1_s_unsuccessful_touch,team_1_s_won_contest,team_1_s_won_corners,team_1_s_won_tackle,team_1_teamRef,winner,matchdate
0,20180728T160000+0100,988751,140.0,17.0,1.0,4.0,3.0,0.0,0.0,151.0,...,1.0,530.0,24.0,15.0,6.0,9.0,15.0,t2089,team_1,2018-07-28 15:00:00
1,20180728T160000+0100,988750,225.0,30.0,0.0,1.0,1.0,1.0,0.0,166.0,...,1.0,431.0,9.0,8.0,5.0,6.0,12.0,t4950,team_0,2018-07-28 15:00:00
2,20180729T160000+0100,988753,114.0,6.0,1.0,2.0,1.0,2.0,0.0,60.0,...,2.0,928.0,24.0,14.0,6.0,5.0,13.0,t212,team_1,2018-07-29 15:00:00
3,20180729T160000+0100,988752,207.0,13.0,0.0,5.0,5.0,2.0,0.0,234.0,...,4.0,445.0,10.0,12.0,4.0,4.0,12.0,t280,team_0,2018-07-29 15:00:00
4,20180729T160000+0100,988754,72.0,12.0,5.0,9.0,4.0,3.0,0.0,128.0,...,2.0,619.0,26.0,13.0,5.0,3.0,10.0,t5666,team_0,2018-07-29 15:00:00

In [32]:
allMatchData.shape

(83, 464)

In [33]:
eventsMlData=pd.read_csv("eventsMlData.csv", encoding="utf-8", index_col=0)

In [34]:
eventsMlData.head()

,id,matchid,team,team_0_1,team_0_10,team_0_11,team_0_12,team_0_13,team_0_14,team_0_15,...,team_1_7,team_1_70,team_1_74,team_1_79,team_1_8,teamid,timestamp,type,winner,outcome
0,1543551217,988751,NONE,0,0,0,0,0,0,0,...,0,0,0,0,0,NONE,2018-07-28T15:05:32.59,34,team_1,1
1,1357993239,988751,NONE,0,0,0,0,0,0,0,...,0,0,0,0,0,NONE,2018-07-28T15:09:55.17,34,team_1,1
2,1634877849,988751,NONE,0,0,0,0,0,0,0,...,0,0,0,0,0,NONE,2018-07-28T16:00:12.288,32,team_1,1
3,1097243024,988751,NONE,0,0,0,0,0,0,0,...,0,0,0,0,0,NONE,2018-07-28T16:00:12.288,32,team_1,1
4,1184172299,988751,team_0,0,0,0,0,0,0,0,...,0,0,0,0,0,t2081,2018-07-28T16:00:13.432,1,team_1,1

In [35]:
eventsMlData.shape

(137699, 108)

In [36]:
mlMatchData= pd.read_csv("mlMatchData.csv", encoding="utf-8", index_col=0)

In [37]:
mlMatchData.head()

,matchid,matchdata,team_0_teamRef,team_1_teamRef,winner,matchdate,team_0_won_before,team_1_won_before,team_0_lastwinmatch__s_accurate_back_zone_pass,team_1__lastwinmatch__s_accurate_back_zone_pass,...,team_0_lastwinmatch__s_touches_in_opp_box,team_1__lastwinmatch__s_touches_in_opp_box,team_0_lastwinmatch__s_unsuccessful_touch,team_1__lastwinmatch__s_unsuccessful_touch,team_0_lastwinmatch__s_won_contest,team_1__lastwinmatch__s_won_contest,team_0_lastwinmatch__s_won_corners,team_1__lastwinmatch__s_won_corners,team_0_lastwinmatch__s_won_tackle,team_1__lastwinmatch__s_won_tackle
0,988751,20180728T160000+0100,t2081,t2089,team_1,2018-07-28 15:00:00,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,988750,20180728T160000+0100,t199,t4950,team_0,2018-07-28 15:00:00,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,988753,20180729T160000+0100,t2002,t212,team_1,2018-07-29 15:00:00,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,988752,20180729T160000+0100,t857,t280,team_0,2018-07-29 15:00:00,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,988754,20180729T160000+0100,t4948,t5666,team_0,2018-07-29 15:00:00,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
mlMatchData.shape

(83, 466)

- join eventsmldata  with ml Matchdata

In [39]:
fields = list(allMatchData.columns[2:-2])
finalfields = [ x.replace("team_0","") for x in fields if "team_1" not in x ]
finalfields =finalfields[:-1]
len(finalfields)

229

In [40]:
mergeaddfieldnames = ['matchid','team_0_won_before','team_1_won_before'];
for curfield in finalfields:
    mergeaddfieldnames.append('team_0_lastwinmatch_'+curfield)
    mergeaddfieldnames.append('team_1__lastwinmatch_'+curfield)

In [41]:
len(mergeaddfieldnames)

461

In [42]:
sourceDf = pd.merge(eventsMlData,mlMatchData[mergeaddfieldnames],on='matchid', how='left')

In [43]:
sourceDf.dtypes

id                                              int64
matchid                                         int64
team                                           object
team_0_1                                        int64
team_0_10                                       int64
team_0_11                                       int64
team_0_12                                       int64
team_0_13                                       int64
team_0_14                                       int64
team_0_15                                       int64
team_0_16                                       int64
team_0_17                                       int64
team_0_18                                       int64
team_0_19                                       int64
team_0_2                                        int64
team_0_20                                       int64
team_0_24                                       int64
team_0_25                                       int64
team_0_27                                       int64
team_0_28                                       int64
team_0_3                                        int64
team_0_30                                       int64
team_0_32                                       int64
team_0_34                                       int64
team_0_37                                       int64
team_0_4                                        int64
team_0_40                                       int64
team_0_41                                       int64
team_0_42                                       int64
team_0_43                                       int64
                                               ...
team_0_lastwinmatch__s_total_offside          float64
team_1__lastwinmatch__s_total_offside         float64
team_0_lastwinmatch__s_total_pass             float64
team_1__lastwinmatch__s_total_pass            float64
team_0_lastwinmatch__s_total_pull_back        float64
team_1__lastwinmatch__s_total_pull_back       float64
team_0_lastwinmatch__s_total_red_card         float64
team_1__lastwinmatch__s_total_red_card        float64
team_0_lastwinmatch__s_total_scoring_att      float64
team_1__lastwinmatch__s_total_scoring_att     float64
team_0_lastwinmatch__s_total_tackle           float64
team_1__lastwinmatch__s_total_tackle          float64
team_0_lastwinmatch__s_total_through_ball     float64
team_1__lastwinmatch__s_total_through_ball    float64
team_0_lastwinmatch__s_total_throws           float64
team_1__lastwinmatch__s_total_throws          float64
team_0_lastwinmatch__s_total_yel_card         float64
team_1__lastwinmatch__s_total_yel_card        float64
team_0_lastwinmatch__s_touches                float64
team_1__lastwinmatch__s_touches               float64
team_0_lastwinmatch__s_touches_in_opp_box     float64
team_1__lastwinmatch__s_touches_in_opp_box    float64
team_0_lastwinmatch__s_unsuccessful_touch     float64
team_1__lastwinmatch__s_unsuccessful_touch    float64
team_0_lastwinmatch__s_won_contest            float64
team_1__lastwinmatch__s_won_contest           float64
team_0_lastwinmatch__s_won_corners            float64
team_1__lastwinmatch__s_won_corners           float64
team_0_lastwinmatch__s_won_tackle             float64
team_1__lastwinmatch__s_won_tackle            float64
Length: 568, dtype: object

In [45]:
#remove fields
removefields = ['id','matchid','matchid','timestamp','team','winner']
topredict='winner'
mlInput = sourceDf.drop(removefields, axis=1)

In [46]:
mlInput.head()

,team_0_1,team_0_10,team_0_11,team_0_12,team_0_13,team_0_14,team_0_15,team_0_16,team_0_17,team_0_18,...,team_0_lastwinmatch__s_touches_in_opp_box,team_1__lastwinmatch__s_touches_in_opp_box,team_0_lastwinmatch__s_unsuccessful_touch,team_1__lastwinmatch__s_unsuccessful_touch,team_0_lastwinmatch__s_won_contest,team_1__lastwinmatch__s_won_contest,team_0_lastwinmatch__s_won_corners,team_1__lastwinmatch__s_won_corners,team_0_lastwinmatch__s_won_tackle,team_1__lastwinmatch__s_won_tackle
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
from sklearn.feature_extraction import DictVectorizer
v = DictVectorizer(sparse=False)
X = v.fit_transform(mlInput.to_dict(orient='records'))
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X)
Y=transformer.transform(X)

In [48]:
from sklearn import preprocessing
classesToTransfrom= list(sourceDf[topredict])
le = preprocessing.LabelEncoder()
classes = le.fit_transform(classesToTransfrom)

In [49]:
X.shape

(137699, 575)

In [50]:
classes.shape

(137699,)

In [53]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(max_iter=400,random_state=0, solver='lbfgs',multi_class='ovr').fit(X, classes)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:757: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:757: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:757: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [54]:
probs=clf.predict_proba(X)

In [55]:
classLabels =le.inverse_transform(clf.classes_)

In [56]:
#add prediction back to source dataset
dfpred = pd.DataFrame(probs, columns=classLabels)

In [57]:
for label in classLabels:
    dfpred[label] = dfpred[label].apply(lambda x: round(x, 4)*100)
    sourceDf['win_perc_'+label]=dfpred[label]

In [60]:
sourceDf.head()

,id,matchid,team,team_0_1,team_0_10,team_0_11,team_0_12,team_0_13,team_0_14,team_0_15,...,team_1__lastwinmatch__s_unsuccessful_touch,team_0_lastwinmatch__s_won_contest,team_1__lastwinmatch__s_won_contest,team_0_lastwinmatch__s_won_corners,team_1__lastwinmatch__s_won_corners,team_0_lastwinmatch__s_won_tackle,team_1__lastwinmatch__s_won_tackle,win_perc_draw,win_perc_team_0,win_perc_team_1
0,1543551217,988751,NONE,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.96,36.38,36.66
1,1357993239,988751,NONE,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.96,36.38,36.66
2,1634877849,988751,NONE,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.35,36.19,36.46
3,1097243024,988751,NONE,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.35,36.19,36.46
4,1184172299,988751,team_0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.13,33.34,33.53

In [71]:
sourceDf[ ['id','timestamp','matchid', 'team', 'type', 'winner', 'win_perc_draw','win_perc_team_0','win_perc_team_1'] ]

,id,timestamp,matchid,team,type,winner,win_perc_draw,win_perc_team_0,win_perc_team_1
0,1543551217,2018-07-28T15:05:32.59,988751,NONE,34,team_1,26.96,36.38,36.66
1,1357993239,2018-07-28T15:09:55.17,988751,NONE,34,team_1,26.96,36.38,36.66
2,1634877849,2018-07-28T16:00:12.288,988751,NONE,32,team_1,27.35,36.19,36.46
3,1097243024,2018-07-28T16:00:12.288,988751,NONE,32,team_1,27.35,36.19,36.46
4,1184172299,2018-07-28T16:00:13.432,988751,team_0,1,team_1,33.13,33.34,33.53
5,1927032836,2018-07-28T16:00:15.488,988751,team_0,1,team_1,33.19,33.27,33.54
6,1768566896,2018-07-28T16:00:20.604,988751,team_1,49,team_1,24.05,37.72,38.24
7,1976730408,2018-07-28T16:00:21.301,988751,team_1,1,team_1,33.11,34.03,32.86
8,1446783880,2018-07-28T16:00:24.520,988751,team_0,61,team_1,21.69,39.64,38.67
9,1232211722,2018-07-28T16:00:25.332,988751,team_1,1,team_1,33.09,33.79,33.11
10,1813658993,2018-07-28T16:00:26.288,988751,team_1,61,team_1,21.63,39.27,39.10
11,1539074042,2018-07-28T16:00:27.288,988751,team_0,49,team_1,23.95,38.07,37.98
12,1293235022,2018-07-28T16:00:29.56,988751,team_0,1,team_1,33.15,33.47,33.38
13,1841279309,2018-07-28T16:00:31.488,988751,team_1,4,team_1,32.65,33.71,33.64
14,1877970329,2018-07-28T16:00:31.488,988751,team_0,4,team_1,32.65,33.65,33.70
15,2101015819,2018-07-28T16:00:47.48,988751,team_0,1,team_1,33.04,33.63,33.33
16,1334643625,2018-07-28T16:00:48.112,988751,team_0,1,team_1,33.07,33.55,33.38
17,1252475294,2018-07-28T16:00:49.817,988751,team_0,1,team_1,33.11,33.46,33.43
18,1351319074,2018-07-28T16:00:50.897,988751,team_0,1,team_1,33.14,33.38,33.48
19,1819416535,2018-07-28T16:00:53.593,988751,team_0,1,team_1,33.18,33.29,33.53
20,1100473391,2018-07-28T16:00:56.664,988751,team_0,1,team_1,33.22,33.21,33.58
21,1466965794,2018-07-28T16:00:57.624,988751,team_0,1,team_1,33.25,33.12,33.62
22,1411849054,2018-07-28T16:00:58.860,988751,team_0,50,team_1,24.00,37.53,38.47
23,1290886759,2018-07-28T16:00:58.870,988751,team_1,7,team_1,32.13,33.67,34.20
24,1527745354,2018-07-28T16:01:00.94,988751,team_1,5,team_1,32.42,33.70,33.88
25,1619856587,2018-07-28T16:01:00.94,988751,team_0,5,team_1,32.43,33.64,33.93
26,1610307404,2018-07-28T16:01:03.513,988751,team_0,1,team_1,33.16,33.44,33.40
27,1830738974,2018-07-28T16:01:05.681,988751,team_0,1,team_1,33.20,33.35,33.45
28,2069978454,2018-07-28T16:01:06.489,988751,team_0,1,team_1,33.24,33.27,33.50
29,1660286150,2018-07-28T16:01:08.825,988751,team_0,1,team_1,33.27,33.18,33.54
...,...,...,...,...,...,...,...,...,...
137669,1877931236,2018-11-11T15:18:33.161,988829,team_0,49,team_1,11.87,4.75,83.38
137670,1485827197,2018-11-11T15:18:39.437,988829,team_0,1,team_1,20.55,4.29,75.17
137671,1279539425,2018-11-11T15:18:43.844,988829,team_0,1,team_1,20.60,4.27,75.13
137672,1988785092,2018-11-11T15:18:44.121,988829,team_1,1,team_1,20.58,4.28,75.14
137673,1612501855,2018-11-11T15:18:44.947,988829,team_0,6,team_1,19.54,4.31,76.15
137674,2009271061,2018-11-11T15:18:44.947,988829,team_1,6,team_1,19.55,4.33,76.12
137675,1518680658,2018-11-11T15:19:04.844,988829,team_0,1,team_1,20.63,4.27,75.10
137676,1536185073,2018-11-11T15:19:06.834,988829,team_1,44,team_1,12.75,4.64,82.61
137677,2073554257,2018-11-11T15:19:06.844,988829,team_0,44,team_1,12.74,4.62,82.64
137678,2009154169,2018-11-11T15:19:07.744,988829,team_0,15,team_1,17.67,4.23,78.10
137679,1195997987,2018-11-11T15:19:07.844,988829,team_1,10,team_1,18.71,4.27,77.02
137680,1895838272,2018-11-11T15:19:10.844,988829,team_1,12,team_1,18.41,4.35,77.23
137681,1519755235,2018-11-11T15:19:14.692,988829,team_0,1,team_1,20.98,4.17,74.85
137682,1826140980,2018-11-11T15:19:18.447,988829,team_0,1,team_1,21.00,4.14,74.86
137683,1949228241,2018-11-11T15:19:21.831,988829,team_1,44,team_1,13.02,4.51,82.48
137684,1701876215,2018-11-11T15:19:21.841,988829,team_0,44,team_1,13.00,4.49,82.51
137685,1869793759,2018-11-11T15:19:23.513,988829,team_1,1,team_1,20.85,3.99,75.16
137686,1398479655,2018-11-11T15:19:26.492,988829,team_0,1,team_1,20.87,3.99,75.14
137687,1436712259,2018-11-11T15:19:30.276,988829,team_0,1,team_1,20.84,3.98,75.19
137688,2086126634,2018-11-11T15:19:31.828,988829,team_0,1,team_1,20.85,3.95,75.19
137689,1960774534,2018-11-11T15:19:33.807,988829,team_0,1,team_1,20.91,3.94,75.16
137690,1914840737,2018-11-11T15:19:34.651,988829,team_0,5,team_1,20.07,3.98,75.95
137691,1856958417,2018-11-11T15:19:34.651,988829,team_1,5,team_1,20.02,3.97,76.01
137692,1190336392,2018-11-11T15:19:46.844,988829,NONE,30,team_1,15.11,4.27,80.62
137693,1731375111,2018-11-11T15:19:46.844,988829,NONE,30,team_1,15.11,4.27,80.62
137694,1838831050,2018-11-11T15:20:27.527,988829,NONE,30,team_1,15.11,4.27,80.62
137695,1964479169,2018-11-11T15:20:27.540,988829,NONE,37,team_1,13.91,4.32,81.76
137696,1802361572,2018-11-11T15:20:29.2,988829,NONE,30,team_1,15.11,4.27,80.62
137697,2105723677,2018-11-11T15:20:29.15,988829,NONE,37,team_1,13.91,4.32,81.76
137698,1510679665,2018-11-11T16:07:50.435,988829,NONE,24,team_1,16.19,4.22,79.59

In [72]:
sourceDf.to_csv("predictions.csv", encoding="utf-8")